<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Foodie - @ViewBag.Title</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" href="~/TemplateFiles/css/bootstrap.css" />

    <!-- owl slider stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- nice select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

    <!-- font awesome style -->
    <link href="~/TemplateFiles/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/TemplateFiles/css/style.css" rel="stylesheet" />
    <link href="~/TemplateFiles/css/responsive.css" rel="stylesheet" />

    <script src="~/TemplateFiles/js/jquery-3.4.1.min.js"></script>

    <script>
        $(function () {
            var url = window.location.href;
            $("#navbarSupportedContent a").each(function () {
                if (url == (this.href)) {
                    $(this).closest("li").addClass("active");
                }
            });
        });
    </script>

    @RenderSection("head", false)
</head>
<body>
    <div class="hero_area">
        <div class="bg-box">
            <img src="~/TemplateFiles/images/hero-bg.jpg" alt="">
        </div>

        <!-- header section starts -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <span>Foodie</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Users/Default">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Users/Menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Users/About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Users/Contact">Contact</a>
                            </li>
                        </ul>
                        <div class="user_option">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="user_link" href="/Users/Profile">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>
                            }
                            else
                            {
                                <a class="user_link" href="/Users/Login">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>
                            }

                            <a class="cart_link" href="/Users/Carts">
                                <!-- SVG icon for cart -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                                    <circle cx="9" cy="21" r="1"></circle>
                                    <circle cx="20" cy="21" r="1"></circle>
                                    <path d="M1 1h4l1.68 9.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61l1.29-7.16H5.21"></path>
                                </svg>
                            </a>

                            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>

                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/Users/Logout" class="order_online">Logout</a>
                            }
                            else
                            {
                                <a href="/Users/Login" class="order_online">Login</a>

                            }


                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- header section ends -->
    </div>
    @RenderSection("Scripts", required: false)
    <!-- Slider Section -->
    @RenderSection("slider", required: false)

    <!-- Main Content -->
    <div class="content">
        @RenderBody()
    </div>

    <!-- Footer Section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>Contact Us</h4>
                        <div class="contact_link_box">
                            <a href="#">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>Location</span>
                            </a>
                            <a href="#">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>Call +01 1234567890</span>
                            </a>
                            <a href="#">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>demo@gmail.com</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="#" class="footer-logo">Feane</a>
                        <p>
                            Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                        </p>
                        <div class="footer_social">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>Opening Hours</h4>
                    <p>Everyday</p>
                    <p>10.00 Am -10.00 Pm</p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a><br />
                    &copy; <span id="displayYear"></span> Distributed By
                    <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="~/TemplateFiles/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <script src="~/TemplateFiles/js/custom.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
</body>
</html>



