@page
@model Food.Pages.Users.MenuModel
@{
    Layout = "/Pages/Users/Shared/_LayoutUser.cshtml";
}

<!-- food section -->
<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>Our Menu</h2>
        </div>

        <ul class="filters_menu">
            <li class="@(Model.SelectedCategoryId == 0 ? "active" : "")" data-filter="*" data-id="0">
                <a class="category-link" href="javascript:void(0)" onclick="filterProducts(0)">All</a>
            </li>

            @foreach (var category in Model.Categories)
            {
                <li data-filter=".category-@category.CategoryId"
                    data-id="@category.CategoryId"
                    class="@(Model.SelectedCategoryId == category.CategoryId ? "active" : "")">
                    <a class="category-link" href="javascript:void(0)" onclick="filterProducts(@category.CategoryId)">@category.Name</a>
                </li>
            }
        </ul>

        <div class="filters-content">
            <div class="row grid">
                @foreach (var product in Model.Products)
                {
                    <div class="col-sm-6 col-lg-4 all category-@product.CategoryId">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="@product.ImageUrl" alt="" />
                                </div>
                                <div class="detail-box">
                                    <h5>@product.Name</h5>
                                    <p>@product.Description</p>
                                    <div class="options">
                                        <h6>$@product.Price</h6>
                                        <form method="post" asp-page-handler="AddToCart">
                                            <input type="hidden" name="productId" value="@product.ProductId" />
                                            <button type="submit" class="btn btn-warning">
                                                <i class="fa fa-shopping-cart"></i> <!-- Shopping cart icon -->
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>





