@page
@model Food.Pages.Admin.ContactsModel
@{
    Layout = "_AdminLayout";

}

<!-- Admin - View Contact Queries -->
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Contact Messages</h2>
        </div>

        <div class="table-responsive">
            <table class="table data-table-export table-hover nowrap">
                <thead>
                    <tr>
                        <th>ContactId</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model.Contacts)
                    {
                        <tr>
                            <td>@contact.ContactId</td>
                            <td>@contact.Name</td>
                            <td>@contact.Email</td>
                            <td>@contact.Subject</td>
                            <td>@contact.Message</td>
                            <td>@contact.CreatedDate</td>
                            <td>
                                <a class="btn btn-danger" asp-page-handler="DeleteContact" asp-route-contactId="@contact.ContactId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Admin Section -->
